@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/myStylesheet.css" rel="stylesheet" />
<div>
    <h1>Neural net manager</h1>
    <div class="new-NN">
        <form action="api/neuralnets/newgeneration" method="post" id="CreateNNform">
            <div class="form_half">
                <p>Inputs count: </p> <input type="number" name="inputs_count" value="4" /><br />
                <p>Outputs count: </p> <input type="number" name="outputs_count" value="2" /><br />
                <p>Hidden layers count: </p> <input type="number" name="hidden_layers_count" value="4" /><br />
                <p>Neurals in hidden layer count: </p> <input type="number" name="neurals_in_hidden_layer_count" value="5" /><br />
                <p>Generation size: </p> <input type="number" name="gen_size" value="50" /><br />
            </div>
            <div class="form_half">
                <p>Learning factor: </p> <input type="number" name="learning_factor" value="100" /><br />
                <p>Inputs round: </p>
                <select name="inp_round">
                    <option value="DontRound" selected>Don't round</option>
                    <option value="Tanh">Tanh</option>
                    <option value="ZeroAndOne">Convert to Zero/One (Opened/Closed)</option>
                </select>
                <p>Neurals round: </p>
                <select name="neu_round">
                    <option value="DontRound">Don't round</option>
                    <option value="Tanh">Tanh</option>
                    <option value="ZeroAndOne" selected>Convert to Zero/One (Opened/Closed)</option>
                </select>
                <p>Outputs round: </p>
                <select name="out_round">
                    <option value="DontRound">Don't round</option>
                    <option value="Tanh" selected>Tanh</option>
                    <option value="ZeroAndOne">Convert to Zero/One (Opened/Closed)</option>
                </select>
            </div>
            <center><input type="submit" /></center>
        </form>
        <br />
    </div>
    <div class="learning_block">
        <h2>Learning</h2>
        <button id="PassOneGenerationBTN">Pass one generation</button><br /><br />
        <button id="SeveralGenerationsPass">Pass generations </button>
        <input type="number" value="10" min="1" id="gens_amount" /><br /><br />
        <button id="LearnUntillStop" onclick="StartLearning()">Learn untill stop</button>
        <button id="StopLearningButton" onclick="StopLearning()">Stop</button><br /><br />
        <button onclick="ChangeLF(true)">Increase learning factor</button><br /><br />
        <button onclick="ChangeLF(false)">Reduce learning factor</button><br /><br />
        <p id="BaseData"></p>
    </div>
    <button id="addElementButton">Add new element to database</button><br />
    <div id="AddElementToDatabase"></div>
</div>